# 不追踪所有 jar 文件
*.jar

/schematics
/PCL
/moonlight-global-datapacks
/mods
/logs
/local
/infinity-data
/easy_npc
/dynamic-data-pack-cache
/dynamic-resource-pack-cache
/downloads
/defaultconfigs
/data
/crash-reports
/1.21.1-NeoForge_21.1.241_redawn-natives
/.sable
/.mixin.out

/saves/test/advancements
/saves/test/data
/saves/test/DIM-1
/saves/test/DIM1
/saves/test/dimensions
/saves/test/entities
/saves/test/playerdata
/saves/test/poi
/saves/test/region
/saves/test/serverconfig
/saves/test/stats
/saves/test/sublevels
/saves/test/icon.png
/saves/test/kubejs_persistent_data.nbt
/saves/test/level.dat
/saves/test/level.dat_old
/saves/test/session.lock

/config/ftbquests/
/config/jei/world/local
/config/worldedit
/config/worldedit/worldedit.properties
/config/jei/ingredient-list-mod-sort-order.ini
lsp.json


1.21.1-NeoForge_21.1.241_redawn.json
command_history.txt
hotbar.nbt
options.txt
ponders_watched.json
usercache.json
usernamecache.json