# 不追踪所有 jar 文件
*.jar

/schematics
/PCL
/moonlight-global-datapacks
/mods
/logs
/local
/infinity-data
/easy_npc
/dynamic-data-pack-cache
/dynamic-resource-pack-cache
/downloads
/defaultconfigs
/data
/crash-reports
/1.21.1-NeoForge_21.1.241_redawn-natives
/.sable
/.mixin.out

/saves/*/advancements
/saves/*/data
/saves/*/DIM-1
/saves/*/DIM1
/saves/*/dimensions
/saves/*/entities
/saves/*/playerdata
/saves/*/poi
/saves/*/region
/saves/*/serverconfig
/saves/*/stats
/saves/*/sublevels
/saves/*/icon.png
/saves/*/kubejs_persistent_data.nbt
/saves/*/level.dat
/saves/*/level.dat_old
/saves/*/session.lock
/saves/*/ftbquests
/saves/*/ftbteams
/saves/*/easy_npc

/config/ftbquests/
/config/jei/world/local
/config/worldedit
/config/worldedit/worldedit.properties
/config/jei/ingredient-list-mod-sort-order.ini
lsp.json


1.21.1-NeoForge_21.1.241_redawn.json
command_history.txt
hotbar.nbt
options.txt
ponders_watched.json
usercache.json
usernamecache.json
servers.dat